.blog {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.image-container {
  height: 240px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-content {
  padding: 10px;
}

.blog-title,
.blog-userName {
  font-family: "Times New Roman", Times, serif;
}

.blog-title {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.blog-userName {
  font-size: 1rem;
}

.blog-title a {
  color: #333;
  text-decoration: none;
}

.blog-title a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  .blog {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .blog {
    margin-left: 10px;
    margin-right: 10px;
  }

  .image-container {
    height: 200px;
  }

  .blog-title {
    font-size: 1.5rem;
  }

  .blog-userName {
    font-size: 0.8rem;
  }

  .summary {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .image-container {
    padding: 0 !important;
  }
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.no-blogs-message {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 20px;
}
