/* YourBlog.css */

.blog {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.image-container {
  height: 240px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-title,
.blog-userName {
  font-family: "Times New Roman", Times, serif;
}

.blog-title {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.blog-userName {
  font-size: 1rem;
}

.blog-title a {
  color: black;
  text-decoration: none;
}

.blog-title a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .blog {
    margin-left: 10px;
    margin-right: 10px;
  }

  .image-container {
    padding: 0;
  }

  .blog-title {
    font-size: 1.5rem;
  }

  .summary {
    font-size: 0.875rem;
  }

  .blog-userName {
    font-size: 0.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .blog {
    margin-left: 20px;
    margin-right: 20px;
  }

  .blog-title {
    font-size: 1.75rem;
  }

  .summary {
    font-size: 1rem;
  }

  .blog-userName {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.no-blogs-message {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}
