/* CreateBlog.css */

.create-blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #effafc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.create-blog-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 2em;
  font-family: "Playfair Display", sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-control,
.form-control-file,
.quill-editor {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  transition: border-color 0.2s;
}

.form-control:focus,
.form-control-file:focus,
.quill-editor .ql-container.ql-snow {
  border-color: #007bff;
  outline: none;
}

.quill-editor .ql-toolbar.ql-snow {
  border-radius: 5px 5px 0 0;
}

.quill-editor .ql-container.ql-snow {
  border-radius: 0 0 5px 5px;
  height: 200px;
}

.btn {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 1em;
  color: #fff;
  background-color: #09677e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Times New Roman", Times, serif;
}

.btn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
