.blog {
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.summary {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-size: 1rem;
}

.image-container {
  height: 240px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
}

.blog-title,
.blog-userName {
  font-family: "Times New Roman", Times, serif;
}

.blog-title {
  margin-top: 10px;
  font-size: 2rem;
}

.blog-userName {
  font-size: 1rem;
}

.blog-title a {
  color: black;
  text-decoration: none;
}

.blog-title a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .image-container {
    padding: 0 !important;
  }
}
