.bannerImage {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}

.bannerImage img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contentImage img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.summary-blog {
  margin-top: 20px;
  padding: 0 50px;
  text-align: justify;
}

.blog {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.blog h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.summary-part {
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
}

.title,
.date-author {
  padding: 0 50px 10px 50px;
  font-family: "Times New Roman", Times, serif;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.blog-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.edit-button,
.delete-button {
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.edit-button {
  background-color: #007bff;
  margin-right: 1240px;
}

.delete-button {
  background-color: #dc3545;
}

.edit-button:hover,
.delete-button:hover {
  filter: brightness(85%);
}

@media (max-width: 767px) {
  .edit-button,
  .delete-button {
    width: 100%;
  }
}

approval-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.approve-button,
.reject-button {
  font-family: "Playfair Display", sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.approve-button {
  margin-right: 1090px;
}
.reject-button {
  background-color: #dc3545;
}

.approve-button:hover,
.reject-button:hover {
  background-color: #218838;
  color: #ffffff;
}

@media (max-width: 991px) {
  .title,
  .date-author {
    padding: 0 20px 10px 20px;
  }
}

@media (max-width: 767px) {
  .title,
  .date-author {
    padding: 0 10px 10px 10px;
  }

  .summary-blog {
    padding: 0 20px;
  }

  .blog-buttons {
    flex-direction: column;
    align-items: center;
  }

  .edit-button,
  .delete-button {
    margin-bottom: 10px;
  }

  .approval-buttons {
    flex-direction: column;
    align-items: center;
  }

  .approve-button,
  .reject-button {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .summary-blog {
    padding: 0 10px;
  }

  .contentImage {
    margin: 10px 0;
  }

  .bannerImage img,
  .contentImage img {
    max-height: 250px;
  }

  .blog h2 {
    font-size: 1.5rem;
  }

  .edit-button,
  .delete-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
